<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: absolute;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <!-- 
      position : absolute;
        위치 상 부모 요소를 기준으로 배치
        부모요소 : position 값이 부여된 다른 요소
                  position 값이 부여된 요소가 없다면 화면이 기준
     -->

    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quis
      nobis mollitia pariatur. Minus, aliquam quidem eveniet, similique
      molestias laudantium nihil labore error, ut dolores architecto officiis.
      Optio aut illo voluptatibus officia laborum quaerat voluptatem voluptatum,
      earum, sit ipsam corrupti laboriosam natus blanditiis, ex quo dicta dolore
      aspernatur fugiat praesentium alias quod. A, ea. Minima tempora id dolorum
      eligendi. Explicabo quibusdam voluptatum dolore, distinctio cumque dolorum
      eaque tenetur saepe? Velit nihil maiores architecto aspernatur quam a
      expedita ut corrupti quasi, quas pariatur, nisi, culpa saepe voluptates
      molestiae libero vero et obcaecati quo adipisci officia minima suscipit
      ullam possimus! A, laudantium. Animi ullam illum quas ad? Quasi quam
      consequatur tempore sapiente repellendus saepe, libero cumque suscipit
      corporis nemo, facilis doloremque? Sint necessitatibus labore, fugit
      reprehenderit placeat sit nobis dolores, sed sequi incidunt cum cupiditate
      pariatur obcaecati libero qui in assumenda rerum doloribus accusantium! Ex
      animi eveniet dolor nemo enim hic? Quo provident repudiandae est error
      similique perspiciatis repellat numquam fuga porro, iusto adipisci sequi
      magni deserunt, cumque voluptatem, quam maiores explicabo nobis officiis
      ipsum quos in praesentium nostrum rem. Consectetur cum laudantium saepe
      quidem ut maiores pariatur, reiciendis debitis ad ea labore a asperiores
      harum optio blanditiis quisquam sapiente dolor consequuntur necessitatibus
      atque ipsam. Fugit nobis amet asperiores ea molestiae doloremque dicta
      enim nihil voluptatem placeat quasi nostrum facere repellat cupiditate,
      suscipit quaerat debitis quas ipsa nemo reiciendis commodi voluptas iusto
      delectus? Ullam pariatur quae officiis. Nobis corrupti autem commodi
      recusandae architecto hic obcaecati, cum, asperiores provident repellendus
      impedit accusamus praesentium ex porro, ratione ullam et molestiae dolor
      delectus. Iste, reprehenderit? Culpa placeat accusamus, laudantium atque
      doloremque fugit saepe qui consequatur maiores? Perspiciatis consectetur
      molestiae harum, vel aspernatur cumque atque eligendi nisi maiores
      accusantium praesentium modi, distinctio tempore illum doloremque
      laboriosam aut voluptas incidunt corporis odio tenetur. Tempore quidem
      atque fugit ab iste? Eaque, tempora amet dolorem aperiam accusamus nulla
      doloribus perferendis accusantium adipisci, magnam quae, asperiores
      temporibus fuga omnis quasi iste ipsa neque. Accusamus cum perferendis
      explicabo totam nobis id voluptatum hic vel nisi, atque iste tempore! Quo
      enim quia illo provident? Cumque mollitia facere consectetur soluta?
      Libero id tempore natus veritatis deleniti. Culpa sequi, laborum tempore
      corrupti tempora architecto quae itaque quasi magni, labore est delectus
      optio dicta? Consequatur consectetur accusantium expedita exercitationem
      illum at nam voluptas voluptatem? Quae nihil, quam at, voluptate vero amet
      rerum reprehenderit assumenda repellat inventore dignissimos expedita!
      Dignissimos perferendis ea rerum velit ut. Libero facilis nesciunt nobis
      tempora fugit dolores! Sint minima consequuntur excepturi placeat
      distinctio dolorem fugit vitae sunt nesciunt unde ea, natus iste corporis
      quia, commodi autem voluptas dolorum facere error? Accusantium ad atque,
      illo praesentium pariatur distinctio animi quis quisquam eveniet nisi,
      dicta dignissimos aliquid non doloribus quas quo perferendis adipisci,
      laudantium perspiciatis voluptate recusandae? Odit nostrum sint eum error
      labore quisquam sequi repellendus expedita quas vel laudantium ea facilis
      laboriosam ratione commodi nam, quia esse harum mollitia. Libero dolor sed
      odit cumque nostrum ipsa aliquid consequuntur cupiditate vero. Aliquam ut
      quis impedit quia numquam quam hic quibusdam mollitia doloremque
      molestiae!
    </p>
  </body>
</html>
